$theme-colors: (
  "primary": #bb1f23,
  "danger": #ff4136
);

$body-bg: #e9ecef;
$pretty--color-primary:#bb1f23;

@import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';
